
/* ==========================================
   ログインボタン
   ========================================== */
.login-button {
  display: block;
  margin: 20px auto 0;

  background-color: #f4a6a6;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #ef8b8b;
}


/* ==========================================
   入力フォーム（ID・PASSなど）
   ========================================== */
.form-group {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  text-align: left;

  width: 258px;
  margin-left: auto;
  margin-right: auto;
}

.form-group label {
  width: 50px;
  font-size: 14px;
}

.form-group input {
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 6px 8px;
}